@model  Premium_Web_Client.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingreso</title>
</head>
<body>
    <div class="container jumbotron"> 
        <h1 >Ingreso</h1>
        
    </div>
    <a href="/Home/Logout">Salir</a>
</body>
</html>
